@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #8b354a;
    --primary-color-dark: rgb(80, 0, 11);
    --background-color: rgb(247, 232, 220);
    --dark-color: rgb(35, 35, 35);
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utilidades*/
.container{
    max-width: 120rem;
    margin: 0 auto;
}

/*Header*/
.container-header{
    background-color: var(--background-color);
}

.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 3rem 0;
}

.container-redes{
    display: flex;
    align-items: center;
}

.fa-instagram{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    padding: 1rem;
}
.fa-facebook{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    padding: 1rem;
}
.fa-whatsapp{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    padding: 1rem;
}
.fa-linkedin-in{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    padding: 1rem;
}
.sumate{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
}
.fa-instagram:hover{
    color: rgb(80, 0, 11);
}
.fa-facebook:hover{
    color: rgb(80, 0, 11);
}
.fa-whatsapp:hover{
    color: rgb(80, 0, 11);
}
.fa-linkedin-in:hover{
    color: rgb(80, 0, 11);
}
.sumate:hover{
    color: rgb(80, 0, 11);
}
.container-logo a:hover{
    color: rgb(80, 0, 11);
}
.container-logo i:hover{
    color: rgb(80, 0, 11);
}
.container-logo{
    font-family:'jomhuria', 'Poppins', sans-serif;;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-logo i{
    font-size: 2rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: var(--primary-color);
}

.container-sumate{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.container-sumate a{
    font-size: 1%;
    text-decoration: none;
    color: white;
}

/*NAVBAR*/
.container-navbar{
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: var(--background-color);
    font-weight: 600;
    border-radius: .5rem;
    padding: .5rem;
    position: relative;
}

.menu a:hover{
    color: var(--dark-color);
    background-color: var(--background-color);
}

/*banner*/

.banner{
    background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.858), rgba(0, 0, 0, 0.21)), url(image/slider_1.png);
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 22rem 0rem;
}
.content-banner h2{
    color: var(--background-color);
    font-size: 3rem;
}
.content-banner p{
    color: var(--background-color);
    font-size: 1.3rem;
    margin: 1rem 0rem 3rem;
}
.content-banner a{
    font-weight: 600;
    color: var(--background-color);
    text-decoration: none;
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    text-transform: uppercase;
    border-radius: 5px;
}

.content-banner a:hover{
    background-color: var(--primary-color-dark);
}

/*MAIN*/

.main-content{
    color: var(--background-color);
}

/*Features*/

/*Quienes somos*/
.container-quienes{
    color: var(--dark-color);
    margin-top: 1rem;
    text-align: center;
}
.container-quienes h1{
    margin-top: 3rem;
    font-size: 2rem;
}
/*Panadería*/
.container-panaderia{
    
}

/*Contacto*/
.container-contacto {
    color: var(--dark-color);
    margin-top: 3rem;
    text-align: center;
}

.container-contacto h1 {
    font-size: 2rem;
}

.subtitulo1-6,
.subtitulo2-6,
.subtitulo3-6,
.subtitulo4-6,
.subtitulo5-6 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.contenido1-6,
.contenido2-6,
.contenido3-6,
.contenido4-6,
.contenido5-6 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* Comentarios */
.comentarios {
    margin-top: 3rem;
}

.comentarios h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.comentarios form textarea {
    width: 100%;
    padding: 0.5rem;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.comentarios form button {
    padding: 0.5rem 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comentarios form button:hover {
    background-color: var(--primary-color-dark);
}

/*Carga de CV*/
.carga-cv {
    margin-top: 2rem;
}

.carga-cv h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.carga-cv form input[type="file"] {
    margin-bottom: 1rem;
}

.carga-cv form button {
    padding: 0.5rem 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carga-cv form button:hover {
    background-color: var(--primary-color-dark);
}
/*Sucursales*/
.container-sucursales h1{
    font-size: 2rem;
}
.container-sucursales{
    color: var(--dark-color);
    margin-top: 3rem;
    text-align: center;
}
/*panaderia*/
.panaderia-container {
    color: var(--dark-color);
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    max-width: 100%; 
    padding: 0 20px; 
}
.container-panaderia h1{
    color: var(--dark-color);
    padding-top: 3rem;
    text-align: center;
}
.contenido1-2,
.contenido2-2,
.contenido3-2,
.contenido4-2,
.contenido5-2 {
    flex: 0 0 20%;
    text-align: center; 
    padding: 20px 0;
}

.subtitulo1-2,
.subtitulo2-2,
.subtitulo3-2,
.subtitulo4-2,
.subtitulo5-2{
    margin-top: 0;
}

.panaderia-container img {
    max-width: 20rem; 
    height: 15rem; 
    display: block; 
    margin: 0 auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.819);
    transition: transform 0.3s ease; 
}

.panaderia-container img:hover {
    transform: scale(1.1);
}
/*Cafetería*/
.cafeteria-container {
    color: var(--dark-color);
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    max-width: 100%; 
    padding: 0 20px;
}
.container-cafeteria h1{
    color: var(--dark-color);
    padding-top: 3rem;
    text-align: center;
}
.contenido1-3,
.contenido2-3,
.contenido3-3,
.contenido4-3 {
    flex: 0 0 20%; 
    text-align: center; 
    padding: 20px 0; 
}

.subtitulo1-3,
.subtitulo2-3,
.subtitulo3-3,
.subtitulo4-3 {
    margin-top: 0; 
}

.cafeteria-container img {
    max-width: 20rem;
    height: 15rem; 
    display: block; 
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.819);
    transition: transform 0.3s ease; 
}

.cafeteria-container img:hover {
    transform: scale(1.1);
}
/*Pastelería*/
.pasteleria-container {
    color: var(--dark-color);
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    max-width: 100%; 
    padding: 0 20px; 
}
.container-pasteleria h1{
    color: var(--dark-color);
    padding-top: 3rem;
    text-align: center;
}
.contenido1-4,
.contenido2-4,
.contenido3-4,
.contenido4-4 {
    flex: 0 0 20%; 
    text-align: center; 
    padding: 20px 0;
}

.subtitulo1-4,
.subtitulo2-4,
.subtitulo3-4,
.subtitulo4-4 {
    margin-top: 0; 
}

.pasteleria-container img {
    max-width: 20rem; 
    height: 15rem; 
    display: block; 
    margin: 0 auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.819);
    transition: transform 0.3s ease; 
}

.pasteleria-container img:hover {
    transform: scale(1.1);
}
/*footer*/
.footer{
    font-weight: 600;
    color: var(--background-color);
    text-align: center;
    background-color: var(--primary-color);
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu {
        padding-top: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu li {
        margin-bottom: 1rem;
    }
}

